@font-face {
  font-family: 'Nata Sans';
  src: url('@fonts/nata-sans/NataSans-VariableFont_wght.ttf') format('truetype-variations');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
