@use '../base/typography';

// Figma "Accordion" (node 21:1225)
.c-accordion__heading {
  margin-bottom: 1.5rem;
}

.c-accordion__list {
  display: block;
}

wa-accordion-item {
  --spacing: 1rem;

  &::part(button) {
    @extend .u-heading-5;
    margin-bottom: 0; // .u-heading-5's margin is for headings, not this button
    color: var(--wp--preset--color--blue-medium);
  }

  &::part(icon) {
    color: var(--wp--preset--color--blue-medium);
    rotate: 0deg;
  }

  &[expanded]::part(icon) {
    rotate: 180deg;
  }
}

.c-accordion__icon svg {
  display: block;
  width: 1.25rem;
  height: 0.6875rem;
}

.c-accordion__content {
  @extend .u-body-regular;
  color: var(--wp--preset--color--charcoal);

  p:last-child {
    margin-bottom: 0;
  }

  a {
    color: var(--wp--preset--color--blue);
  }
}
