.c-form {
  padding-block: 3rem;

  @media (min-width: 64rem) {
    padding-block: 4rem;
  }

  &__inner {
    display: grid;
    gap: 2rem;
  }

  &__content {
    > * + * {
      margin-top: 1rem;
    }
  }
}
