@use '../abstracts/breakpoints' as bp;

.c-form {
  padding-block: 3rem;

  @include bp.respond($min: bp.$lg) {
    padding-block: 4rem;
  }

  &__inner {
    display: grid;
    gap: 2rem;
  }

  &__content {
    > * + * {
      margin-top: 1rem;
    }
  }
}
